## Read the web scaped dataset

In [1]:
import pandas as pd
df = pd.read_csv("dataset.csv")
df.head()

                                              Review  Rating
0  it`s the place i want to like. it`s local to m...       1
1  For the youngsters of the world, funky, fast a...       3
2  Had the special of the say. Pork bun chips and...       5
3  Great food. Very helpful staff.\nFive stars.\n...       5
4  The food was great and the restaurant was nice...       5

In [2]:
df.shape

(2080, 2)

## If rating greater than 3, tweet is positive so the rating is 1 else tweet is negative so the rating is 0

In [3]:
df['Rating'] = (df['Rating'] > 3).astype(int)
df.head()

                                              Review  Rating
0  it`s the place i want to like. it`s local to m...       0
1  For the youngsters of the world, funky, fast a...       0
2  Had the special of the say. Pork bun chips and...       1
3  Great food. Very helpful staff.\nFive stars.\n...       1
4  The food was great and the restaurant was nice...       1

In [4]:
df["Rating"].value_counts()

1    1532
0     548
Name: Rating, dtype: int64

## Separate positive and negative tweets

In [5]:
#To select rows whose column value equals a scalar, some_value, use ==
positives = df.loc[df['Rating'] == 1]
negatives = df.loc[df['Rating'] == 0]

all_dataset = pd.concat([negatives, positives])
all_dataset.to_csv('all_dataset_binary.csv', columns=["Review", "Rating"], index=False)

## Create a balenced dataset using 500 positive and 500 negative tweets

In [6]:
new_dataset = pd.concat([negatives.iloc[0:500],positives.iloc[0:500]])
new_dataset

                                                Review  Rating
0    it`s the place i want to like. it`s local to m...       0
1    For the youngsters of the world, funky, fast a...       0
16   We admittedly had inflated expectations of thi...       0
20   This was our second trip to Kiss Kiss with the...       0
23   The food was not bad... but nothing spectacula...       0
..                                                 ...     ...
582  We had a very good time in this restaurant, th...       1
583  Based on trip advisor reviews we decided to sp...       1
584  I haven't been to Thailand, but have been to a...       1
585  No BULLY table-neighbour can spoil this cute l...       1
587  This was our second visit, but with a few year...       1

[1000 rows x 2 columns]

In [7]:
new_dataset.to_csv('dataset_binary.csv', columns=["Review", "Rating"], index=False)